@media(max-width: 768px) {
    .nav {
        display: none;
    }
    .main-cont-text p {
        font-size: 20px;
    }
    .main-cont-social {
        margin-bottom: 30px;
    }
    #logo {
        font-size: 30px;
    }
    .logo-img {
        height: 60px;
        width: 60px;
    }
}
