@media(max-width: 768px) {
    .nav {
        display: none;
    }
    .main-cont-text h3 span {
        font-size: 30px;
    }
    .main-cont-text p {
        font-size: 20px;
    }
    .main-cont-social {
        margin-bottom: 20px;
    }
}
